ins.file-icon-box {
	width: 20px;
	display: inline-block;
	text-decoration: none;
}
.file-icon {
	text-align: center;
	font-size: 16px;
	width: 20px;
	text-decoration: none;
	display: block;
}
.file-icon-secondary {
	margin-left: 10px;
	margin-top: -10px;
	width: 10px;
}
.jstree ins.file-icon-box {
	margin-left: -22px;
	background-image: none;
}

#project-files-container a {
	padding-left: 9px;
}
.icons-margin-correction #project-files-container a {
	padding-left: 10009px;
}

.file-icon-c:before {
	content: '{ }';
}

.file-icon-rotated {
	transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
}
